{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        
    {{ form_row(registrationForm.email) }}

    {{ form_row(registrationForm.username) }}

    {{ form_row(registrationForm.name) }}

    {{ form_row(registrationForm.surname) }}    

    {{ form_row(registrationForm.date_of_birth) }}

    {{ form_row(registrationForm.role) }}

    {{ form_row(registrationForm.plainPassword) }}

    <button type="submit" class="btn">Register</button>    
    {{ form_end(registrationForm) }}
    <div class="container register-form">
    {{ form_start(registrationForm) }}
            <div class="form">
                <div class="note">
                    <p>This is a simpleRegister Form made using Boostrap.</p>
                </div>

                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(registrationForm.name) }}
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Phone Number *" value=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Password *" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Confirm Password *" value=""/>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btnSubmit">Submit</button>
                </div>
            </div>
    {{ form_end(registrationForm) }}
        </div>
{% endblock %}
 