{% extends 'base.html.twig' %}

{% block title %}Challenge index{% endblock %}

{% block body %}

    <h1>Challenge index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Conditions</th>
                <th>Category</th>
                <th>Subcategory</th>
                <th>Points</th>
                <th>Created_by</th>
                <th>Created_at</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% for challenge in challenges %}
            <tr>
                <td>{{ challenge.id }}</td>
                <td>{{ challenge.name }}</td>
                <td>{{ challenge.description }}</td>
                <td>{{ challenge.conditions }}</td>
                <td>{{ challenge.category }}</td>
                <td>{{ challenge.subcategory }}</td>
                <td>{{ challenge.points }}</td>
                <td>{{ challenge.createdBy }}</td>
                <td>{{ challenge.createdAt }}</td>
                {% if challenge.currentChallenge %}
                    {% if challenge.currentChallenge.status == 0 %}
                        <td>Accepted</td>
                    {% endif %}
                    {% if challenge.currentChallenge.status == 1 %}
                        <td>Finished</td>
                    {% endif %}
                {% else %}
                    <td>Pending</td>
                {% endif %}
                <td>
                    <a href="{{ path('app_challenge_show', {'id': challenge.id}) }}">show</a>
                    {% if app.user %}
                        {% if challenge.currentChallenge %}
                            {% if challenge.currentChallenge.status == 0 %}
                                <a href="{{ path('app_challenge_validate', {'id': challenge.id}) }}">validate</a>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('app_challenge_accept', {'id': challenge.id}) }}">accept</a>
                        {% endif %}
                        {% if app.user.role == 1 %}
                            <a href="{{ path('app_challenge_edit', {'id': challenge.id}) }}">edit</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_challenge_new') }}">Create new</a>
{% endblock %}
