{% extends 'base.html.twig' %}

{% block title %}Challenge{% endblock %}

{% block body %}
<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100"> {# Ajout de justify-content-center et align-items-center ici #}
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 text-center"> 
    <h1>Challenge</h1>

    <table class="table">
        <tbody>
        
            <tr>
                <th>Name</th>
                <td>{{ challenge.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ challenge.description }}</td>
            </tr>
    
            <tr>
                <th>Category</th>
                <td>{{ challenge.category }}</td>
            </tr>
    
            <tr>
                <th>Points</th>
                <td>{{ challenge.points }}</td>
            </tr>
            <tr>
                <th>Created_by</th>
                <td>{{ challenge.createdBy }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ challenge.createdAt }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ challenge.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_challenge_index') }}"class="btn btn-sm btn-info mb-2">back to list</a>
    {% if app.user %}
        {% if app.user.role == 1 %}
            <a href="{{ path('app_challenge_edit', {'id': challenge.id}) }}"class="btn btn-sm btn-info mb-2">edit</a>
            {{ include('challenge/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}
{% endblock %}
